<#import "/car/public/lib.fmk.html" as l/>
<#assign header>
    <link rel="stylesheet" href="${ctx!}/css/manage/role/role.css">
</#assign>
<#assign footer>
    <script src="${ctx!}/js/manage/role/role.js"></script>
<script>
  $(document).ready(function () {
        jQuery.validator.addMethod("passwordVa", function (value, element) {
            return this.optional(element) || /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,30}$/.test(value);
        }, "必须是字母和数字的组合，最短6位，最长不要超过30位");
        jQuery.validator.addMethod("phones", function (value, element) {
            return this.optional(element) || /^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/.test(value);
        }, "请输入正确的手机号");
    });
</script>
</#assign>
<#assign breadcrumbs=[{'label':'汽车管理'}, {'label': '品牌管理','href':'/car/carBrand'}, {'label': '新增'}]/>
<@l.layout title="标题" header=header footer=footer breadcrumbs=breadcrumbs>
<div class="col-md-10 col-md-offset-1 mt30">
    <form carbrand="form" method="post" action="${ctx!}/car/carBrand" class="form-horizontal validate">
        <#include "./_form.fmk.html"/>
    </form>
</div>
</@l.layout>